extends layout

block content
  h1.title Fantasy Draft PL
  #draft-container
    #draft-setup
      h2 Start New Draft
      .form-group
        label(for="num-players") Number of Teams:
        input#num-players(type="number", min="2", max="12", value="8")
      button#start-draft.btn Start Draft

    #team-naming-area(style="display: none;")
      h2 Name Your Team
      .form-group
        label(for="team-name") Team Name:
        input#team-name(type="text")
      button#submit-team-name.btn Submit Team Name
      h3 Teams Ready:
      ul#team-list

    #draft-area(style="display: none;")
      h2 Draft in Progress
      #draft-info
        #draft-order
        #current-pick
      .draft-columns
        #available-players
          h3 Available Players
          #player-list
        #drafted-players
          h3 Drafted Players
          #draft-list

  #draft-complete(style="display: none;")
    h2 Draft Complete
    #final-results

block scripts
  script(src='/js/draft.js')
