extends layout

block content
  h1= title
  #draft-container
    #draft-setup
      h2 Start Draft
      label(for="num-players") Number of Players:
      input#num-players(type="number", min="2", max="7", value="4")
      button#start-draft Start Draft

    #draft-area(style="display: none;")
      h2 Draft in Progress
      #draft-order
      #current-pick
      #available-players
      #drafted-players

  #draft-complete(style="display: none;")
    h2 Draft Complete
    #final-results

block scripts
  script(src='/js/draft.js')
