doctype html
html
  head
    title Fantasy Premier League Draft
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Fantasy Premier League Draft

    #draft-setup
      h2 Start Draft
      label(for='num-players') Number of Teams:
      input#num-players(type='number', min='2', max='12', value='4')
      button#start-draft Start Draft

    #team-naming-area(style='display: none;')
      h2 Enter Team Name
      input#team-name(type='text', placeholder='Enter your team name')
      button#submit-team-name Submit
      h3 Teams Ready:
      ul#team-list

    #draft-area(style='display: none;')
      #draft-order
      #current-pick
      #player-list
      #draft-list
      
      #chat-area
        #chat-messages
        form#chat-form
          input#chat-input(type='text', placeholder='Type a message...')
          button(type='submit') Send

    #draft-complete(style='display: none;')
      h2 Draft Complete
      #final-results

    #notification

    script(src='/socket.io/socket.io.js')
    script(src='/js/draft.js')
    script(src='/js/chat.js')
